*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header nav{
    position: relative;
    background: #333;
}
nav .conteinary{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav  a{
    text-decoration: none;
    background-color: transparent;
    color: #9B9B9B;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}
nav a:hover{
    color: aliceblue;
}
/* partie left de mon navigateur */
nav .conteinary .left {
    display: flex;
}
nav .left .logo {
    padding: 10px;
}
nav .left .logo img{
    height: 30px;
}
nav div .icon-plus{
    background: black;
    padding: 10px;
}
/* partie right de mon navigateur */
nav .conteinary .right{
    display: flex;
}
nav .right div{
    border-left: solid 1px #9B9B9B;
    text-align: center;
    padding: 10px;
    width: 60px;
}
nav .right .shopping-cart{
    background-color: rgb(19, 228, 64);
}
nav .right .desktop:hover{
    background-color: #000;
}
nav .right .tablet:hover{
    background-color: #000;
}
nav .right .sharp-mobile:hover{
    background-color: #000;
}
nav .right .shopping-cart:hover{
    background-color: #000;
}
nav .right .xmark:hover{
    background-color: #000;
}



@media (max-width: 699px){
     nav .conteinary .right .desktop{
        display: none;
     }
     nav .conteinary .right .tablet{
        display: none;
     }
     nav .conteinary .right .sharp-mobile{
        display: none;
     }


     @media (max-width: 673px) {
        nav .conteinary .left .logo{
            border-right: solid 1px #9B9B9B;
            height: 50px;
        }
        nav .conteinary .left .logo img{
            height: 30px;
        }
        nav .conteinary .left .icon-plus{
            display: none;
        }
     }
     
}
