*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: capitalize;
    line-height: 1.7;
    background: #222;
    color: #fff;
    margin: 0;
}
.entete-cacher{
    display: none;
    background: #fff;
    padding: 17px;
    height: 70px;
    width: 100%;
}
.entete-cacher button{
    background: #fff;
    border: solid 1px #cac7c7;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(img/image_1.jpg.webp);
    background-size: cover;
    background-position: center;
    height: 800px;
}
header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2222229a;
    width: 100%;
    height: 100%;
    z-index: 1;
}
nav a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav .liens{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    width: 50%;
}
header .titles{
    text-align: center;
    position: absolute;
    z-index: 1;
    justify-content: center;
}
header .titles .hello{
    color: rgba(240, 248, 255, 0.918);
    font-size: 45px;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}
header .titles h1{
    color: aliceblue;
    font-size: 50Px;
    font-weight: 800;
    width: 100%;
}
header .titles .little-title{
    color: rgba(240, 248, 255, 0.562);
}

/* la partie portfolo de ce site */

.section-portfolio{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
li{
    list-style: none;
}
.section-portfolio .conteinary-portfolio .entete-portfolio{
    display: flex;
    margin-top: 70px;
    margin-bottom: 40px;
    justify-content: center;
    font-size: 20px;
    vertical-align: middle;
}
.conteinary-portfolio .entete-portfolio h1{
    color: aliceblue;
    margin-left: 10px;
}
.conteinary-portfolio .entete-portfolio h2{
    color: rgba(240, 248, 255, 0.781);
}
.conteinary-portfolio .liens-portfolio{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 50%;
    height: 10vh;
    margin: auto;
}
.conteinary-portfolio .liens-portfolio a{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.747);
    margin-right: 10px;
}
.conteinary-portfolio .liens-portfolio a:hover{
    color: rgba(192, 221, 28, 0.808);
}
.conteinary-portfolio .images-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    margin-top: 30px;
}
.conteinary-portfolio .images-portfolio .block-image{
    text-align: center;
    width: 350px;
    height: 420px;
    margin-right: 25px;
    margin-bottom: 10px;
}
.conteinary-portfolio .images-portfolio .block-image img{
    width: 100%;
    height: 100%;
}
.images-portfolio .block-image .paragraph-image{
    text-transform: capitalize;
    padding-bottom: 1px;
    line-height: normal;
    margin-bottom: 1px;
}
.images-portfolio .block-image .paragraph-image strong{
    font-weight: 800;
    color: rgba(240, 248, 255, 0.945);
    font-size: 13px;
}
.images-portfolio .block-image .paragraph-image p{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
}

/* la section resume de ce site */
.my-resume{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin: 2%;
}
.my-resume {
  display: flex;
  font-size: 20px;
  font-weight: 700;
}
.my-resume  strong{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    color: rgba(240, 248, 255, 0.719);
    font-size: 30px;
    margin-right: 20px;
  }
.section-resume{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.conteinary-resume{
   width: 100%;
}
.conteinary-resume .conteny-resume{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
}

.conteinary-resume span{
    font-size: 30px;
    color: rgba(240, 248, 255, 0.849);
    margin: 25px;
}
.conteinary-resume .block-resume{
    width: 510px;
    height: auto;
    font-weight: 300;
    color: rgba(240, 248, 255, 0.5);
    background-color: #333;
    border: solid 1px #22222298;
    border-radius: 8px;
    margin: 25px;
    margin-bottom: 5%;
    padding: 15px;
}
.conteinary-resume .block-resume strong{
    color: aliceblue;
}
.conteinary-resume .block-resume h3{
    color: rgba(192, 221, 28, 0.404);
}

/* section abaut me */

.section-abautme{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.conteinary-about{
     width: 100%;
}
.conteny-about{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.conteny-about .img-about{
    text-align: center;
    width: 560px;
    height: 420px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    
}
.img-about img{
    width: 560px;
    height: 420px;
    vertical-align: middle;
    font-weight: 800;
}
.conteny-about .about-me h2{
    font-size: 30px;
    color: #fdfdfdcc;
    margin-top: 0px;
}
.conteny-about .about-me{
    font-weight: 300;
    vertical-align: middle;
    color: rgba(240, 248, 255, 0.5);
    width: 500px;
    height: 350px;
    padding: 25px;
    padding-left: 30px;
    padding-right: 12px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 20px;
   
}
.conteny-about .about-me .about-lien{
    margin-top: 40px;
}
.conteny-about .about-me a{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
}
.conteny-about .about-me .btn-primary{
    
    background-color: #bac964;
    border: solid 1px #bac964;
}
.conteny-about .about-me .btn-second{
    background-color: #6c757d;
    border-color: #6c757d;
}

/* section client-testimonial */
.section-testimonial{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.conteinary-testimonial{
    width: 100%;
}
.title-testimonial{
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-bottom: 0;
    color: #fff;
}
.title-testimonial H3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    margin-right: 10px;
    font-size: 25px;
    color: #ffffffc5;
}
.title-testimonial H1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 30px;
}
.conteny-testimonial{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    margin-top: 0;
}
.block-testimonial{
    display: flex;
    width: 510px;
    height: auto;
    margin: 25px;
    margin-bottom: 5%;
}
.block-testimonial .image{
    height: 50px;
    border-radius: 50px;
}
.block-testimonial .image img{
    width: 50px;
    border-radius: 50px;
}
.block-testimonial .contenu-client{
    width: 510px;
    height: auto;
    font-weight: 300;
    color: rgba(240, 248, 255, 0.5);
    background-color: #333;
    border: solid 1px #22222298;
    border-radius: 8px;
    margin: 25px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 10px;
}
.block-testimonial .contenu-client p:nth-child(0n+2){
    font-size: 14px;
    color: #666666;;
}
.block-testimonial .contenu-client a{
    text-decoration: none;
    color: #bac964;
}
/* secition service du site */
.section-service{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.conteinary-service{
    width: 100%;
}
.conteinary-service .title-service{
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-bottom: 0;
    color: #fff;
}
.title-service H3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    margin-right: 10px;
    font-size: 25px;
    color: #ffffffc5;
}
.title-service H1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 30px;
}
.contenu-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    margin-top: 0;
}
.contenu-service .block-service{
    text-align: center;
    width: 343px;
    height: 457px;
    color: rgba(240, 248, 255, 0.5);
    background-color: #333;
    padding: 30px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.block-service span{
    width: 50px;
    height: 50px;
    padding: 20px;
    background-color: #bac964;
    border: #bac964;
    margin: 10px;
    margin-top: 80px;
    border-radius: 100px;
}
.block-service h3{
    font-size: 20px;
    font-weight: 200;
    margin-top: 50px;
    color: #fff;
    font-family: inherit;
}
.block-service a{
    text-decoration: none;
    color: #bac964;
}
/* section medium */
.section-medium {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.conteinary-medium{
    width: 100%;
}
.title-medium{
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-bottom: 0;
}
.title-medium span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    margin-right: 10px;
    font-size: 25px;
    color: #ffffffc5;
}
.title-medium H1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 30px;
}
.conteinary-medium .contenu-medium{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    margin-top: 0;
}
.contenu-medium .block-medium{
    width: 343px;
    color: rgba(240, 248, 255, 0.5);
    background-color: #333;
    padding-bottom: 15px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.block-medium .image-medium{
    height: 255px;
    background-color: #bac964;
}
.image-medium img{
    max-width: 100%;
    height: auto;
}
.block-medium .article-medium{
    padding: 30px;
    padding-bottom: 30px;
}
.block-medium .article-medium span a{
    text-decoration: none;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin: 0;
}
.block-medium .article-medium span a:hover{
    text-decoration: none;
    color: #bac964;
}
.block-medium .article-medium .meta-icons a{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.5);
    margin-right: 10px;
}
.block-medium .article-medium .meta-icons a:hover{
    color: #bac964;
}
/* section contact*/
.section-contact{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.conteinary-contact{
    width: 100%;
}
.title-contact{
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-bottom: 0;
}
.title-contact span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    margin-right: 10px;
    font-size: 30px;
    font-family: initial;
    color: #ffffffc5;
}
.title-contact H1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 30px;
}
.contenu-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    margin-top: 0;
}
.contenu-contact .GetIn-Touch{
    padding-bottom: 5px;
}
.contenu-contact h3{
    font-family: initial;
}
.input-groupe{
    width: 610px;
    height: auto;
    font-weight: 300;
    border-radius: 8px;
    margin-right: 1px;
    margin-bottom: 2%;
    background-color: #cac7c7;
}
.input-groupe input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-transform: capitalize;
    background: rgb(51, 51, 51);
    border: solid 1px rgb(51, 51, 51);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.input-textarea{
    width: 610px;
    height: 300px;
    margin-bottom: 2%;
}
.input-textarea textarea{
    width: 610px;
    height: 300px;
    text-transform: capitalize;
    font-weight: 300px;
    font-size: 1rem;
    line-height: 1.5;
    background: rgb(51, 51, 51);
    border: solid 1px rgb(51, 51, 51);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.button-send .btn-send{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.2rem;
    color: rgb(255, 255, 255);
    background-color: #bac964;
    border-color: #bac964;
    border-radius: 100px;
    padding: 20px;
}
.MyContact-Details{
    width: 410px;
    height: auto;
    font-weight: 300;
    border-radius: 8px;
    margin: 25px;
    margin-top: 0;
    margin-bottom: 5%;
    background-color: #cac7c7;
}

.MyContact-Details ul{
    font-size: 14px;
    padding-left: 0;
}
.MyContact-Details ul li span{
    font-size: 12px;
    font-weight: 500;
    color: rgb(44, 62, 80);
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}


@media (max-width: 1180px) {
    .entete-cacher{
        display: block;
        background: #fff;
        padding: 17px;
        height: 70px;
        width: 100%;
    }
    nav .liens{
        display: none;
    }
    header .titles{
        display: flex;
        flex-direction: column;
    }
    header .titles h1{
        color: aliceblue;
        font-size: 30Px;
        font-weight: 800;
        width: 100%;
    }
    /* la partie section portfolio */
    .section-portfolio{
        display: flex;
        overflow-x: hidden;
    }
    .conteinary-portfolio{
        padding: 5px;
    }
    .conteinary-portfolio .liens-portfolio{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 10vh;
    }
    .conteinary-portfolio .images-portfolio{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }
    .conteinary-portfolio .images-portfolio .block-image{
        text-align: center;
        width: 350px;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 5%;
    }
    .conteinary-portfolio .images-portfolio .block-image img{
        width: 100%;
        height: 100%;
    }
    /* la section resume */
    .section-resume{
        display: block;
        width: 100%;
    }
    .my-resume{
        display: flex;
        justify-content: center;
        margin: 15px;
    }
    .my-resume div{
      display: flex;
      font-size: 20px;
      font-weight: 700;
    }
    .conteinary-resume .conteny-resume{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2%;
    }
    .conteinary-resume .block-resume{
        font-weight: normal;
        width: 345px;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }

    /* section about me*/
    .section-abautme{
        display: block;
    }
    .conteinary-about{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .conteny-about{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       width: 100%;
       margin: 2%;
    }
    .conteny-about .img-about{
        font-weight: 800;
        width: 345px;
        height: 310px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .img-about img{
        font-weight: 800;
        width: 345px;
        height: 310px;
        vertical-align: middle;
    }
    .conteny-about .about-me{
        width: 345px;
        height: 315px;
        font-weight: 300;
        font-size: 15px;
        vertical-align: middle;
        color: rgba(240, 248, 255, 0.5);
        padding: 5px;
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .conteny-about .about-me .about-lien{
        margin-top: 20px;
    }
    .conteny-about .about-me h2{
        font-size: 25px;
        font-weight: 500;
        color: #fdfdfdcc;
        margin-top: 0;
        margin-bottom: 0;
    }
    /* section client-testimonial*/
    .section-testimonial{
        display: block;
    }
    .conteinary-testimonial{
        width: 100%;
    }
    .conteny-testimonial{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2%;
    }
    .block-testimonial{
        width: 350px;
        height: 280px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0;
        margin-bottom: 7%;
    }
    .block-testimonial .image{
        margin-left: 5px;
    }
    .block-testimonial .contenu-client{
        width: 350px;
        margin-left: 15px;
        height: 280px;
        padding-top: 0px;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-bottom: 0;
    }
    /* section service */
    .section-service{
        display: block;
    }
    .conteinary-service{
        width: 100%;
    }
    .contenu-service{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 2%;
    }
    .contenu-service .block-service{
        width: 345px;
        height: 350px;
        padding: 10px;
        padding-top: 25px;
        margin: 10px;
        margin-bottom: 7%;
    } 
    .block-service span{
        width: 50px;
        height: 50px;
        padding: 10px;
        padding-top: 20px;
        margin-top: 20px;
    }
    .block-service h3{
        margin-top: 20px;
    }
    /*section contact*/
    .section-contact{
        display: block;
    }
    .contenu-contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2%;
    }
    .contenu-contact .GetIn-Touch{
        width: 100%;
        padding: 10px;
        padding-top: 0;
        padding-bottom: 5px;
    }
    .contenu-contact h3{
        font-family: initial;
    }
    .input-groupe{
        width: 100%;
        height: auto;
    }
    .input-groupe input{
        width: 100%;
        height: auto;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
        text-transform: capitalize;
    }
    .input-textarea{
        width: 100%;
        height: 300px;
    }
    .input-textarea textarea{
        width: 100%;
        height: 300px;
    }
    .MyContact-Details{
        width: 100%;
        height: auto;
        margin: 10px;
        margin-top: 0;
    }
}