*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: capitalize;
    line-height: 1.7;
    background: #222;
    color: #fff;
    margin: 0;
}
.entete-cacher{
    display: none;
    background: #fff;
    padding: 17px;
    height: 70px;
    width: 100%;
}
.entete-cacher button{
    background: #fff;
    border: solid 1px #cac7c7;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(img/image_1.jpg.webp);
    background-size: cover;
    background-position: center;
    height: 800px;
}
header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2222229a;
    width: 100%;
    height: 100%;
    z-index: 1;
}
nav a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav .liens{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    width: 50%;
}
header .titles{
    text-align: center;
    position: absolute;
    z-index: 1;
    justify-content: center;
}
header .titles .hello{
    color: rgba(240, 248, 255, 0.918);
    font-size: 45px;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}
header .titles h1{
    color: aliceblue;
    font-size: 50Px;
    font-weight: 800;
    width: 100%;
}
header .titles .little-title{
    color: rgba(240, 248, 255, 0.562);
}

/* la partie portfolo de ce site */

.section-portfolio{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}
li{
    list-style: none;
}
.section-portfolio .conteinary-portfolio .entete-portfolio{
    display: flex;
    margin-top: 70px;
    margin-bottom: 40px;
    justify-content: center;
    font-size: 20px;
    vertical-align: middle;
}
.conteinary-portfolio .entete-portfolio h1{
    color: aliceblue;
    margin-left: 10px;
}
.conteinary-portfolio .entete-portfolio h2{
    color: rgba(240, 248, 255, 0.781);
}
.conteinary-portfolio .liens-portfolio{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 50%;
    height: 10vh;
    margin: auto;
}
.conteinary-portfolio .liens-portfolio a{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.747);
    margin-right: 10px;
}
.conteinary-portfolio .liens-portfolio a:hover{
    color: rgba(192, 221, 28, 0.808);
}
.conteinary-portfolio .images-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    margin-top: 30px;
}
.conteinary-portfolio .images-portfolio .block-image{
    text-align: center;
    width: 350px;
    height: 400px;
    margin-right: 25px;
    margin-bottom: 5%;
}
.conteinary-portfolio .images-portfolio .block-image img{
    width: 100%;
    height: 100%;
}
.images-portfolio .block-image .paragraph-image{
    text-transform: capitalize;
   
}
.images-portfolio .block-image .paragraph-image strong{
    font-weight: 800;
    color: rgba(240, 248, 255, 0.945);
}
.images-portfolio .block-image .paragraph-image p{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
}

/* la section resume de ce site */
.my-resume{
    display: flex;
    justify-content: center;
}
.my-resume {
  display: flex;
  font-size: 20px;
  font-weight: 700;
}
.my-resume  strong{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    color: rgba(240, 248, 255, 0.719);
    font-size: 30px;
    margin-right: 20px;
  }
.section-resume{
    display: flex;
    justify-content: center;
}
.conteinary-resume{
   width: 100%;
}
.conteinary-resume .conteny-resume{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
}

.conteinary-resume span{
    font-size: 30px;
    color: rgba(240, 248, 255, 0.849);
    margin: 25px;
}
.conteinary-resume .block-resume{
    width: 510px;
    height: auto;
    font-weight: 300;
    color: rgba(240, 248, 255, 0.5);
    background-color: #333;
    border: solid 1px #22222298;
    border-radius: 8px;
    margin: 25px;
    margin-bottom: 5%;
    padding: 10px;
}
.conteinary-resume .block-resume strong{
    color: aliceblue;
}
.conteinary-resume .block-resume h3{
    color: rgba(192, 221, 28, 0.404);
}

/* section abaut me */

.section-abautme{
    display: flex;
    justify-content: center;
}
.conteinary-about{
     width: 100%;
     background-color: red;
}
.conteny-about{
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    background-color: yellow;
}
.conteny-about .img-about{
    height: 340px;
}
.img-about img{
    width: 500px;
    height: auto;
    vertical-align: middle;
}
.conteny-about .about-me h2{
    font-size: 30px;
    color: #fdfdfdcc;
}
.conteny-about .about-me{
    font-weight: 300;
    vertical-align: middle;
    color: rgba(240, 248, 255, 0.5);
    height: 340px;
    padding: 25px;
    padding-top: 0;
}
.conteny-about .about-me a{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    padding: 5px;
}
.conteny-about .about-me .btn-primary{
    background-color: #bac964;
    border: solid 1px #bac964;
}
.conteny-about .about-me .btn-second{
    background-color: #6c757d;
    border-color: #6c757d;
}

/* section client-testimonial */
.section-testimonial{
    display: flex;
    justify-content: center;
}
.conteinary-testimonial{
    width: 100%;
    background-color: #bac964;
}
.title-testimonial{
    display: flex;
    justify-content: center;
    background-color: hotpink;
    margin: 2%;
    color: #fff;
}
.title-testimonial H3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    margin-right: 10px;
    font-size: 25px;
    color: #ffffffc5;
}
.title-testimonial H1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 30px;
}
.conteny-testimonial{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
}
.block-testimonial{
    display: flex;
    width: 510px;
    height: auto;
    margin: 25px;
    margin-bottom: 5%;
}
.block-testimonial .image{
    height: 50px;
    border-radius: 50px;
}
.block-testimonial .image img{
    width: 50px;
    border-radius: 50px;
}
.block-testimonial .contenu-client{
    width: 510px;
    height: auto;
    font-weight: 300;
    color: rgba(240, 248, 255, 0.5);
    background-color: #333;
    border: solid 1px #22222298;
    border-radius: 8px;
    margin: 25px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 10px;
}
.block-testimonial .contenu-client p:nth-child(0n+2){
    font-size: 14px;
    color: #666666;;
}
.block-testimonial .contenu-client a{
    text-decoration: none;
    color: #bac964;
}




@media (max-width: 1180px) {
    .entete-cacher{
        display: block;
        background: #fff;
        padding: 17px;
        height: 70px;
        width: 100%;
    }
    nav .liens{
        display: none;
    }
    header .titles{
        display: flex;
        flex-direction: column;
    }
    header .titles h1{
        color: aliceblue;
        font-size: 30Px;
        font-weight: 800;
        width: 100%;
    }
    /* la partie section portfolio */
    .section-portfolio{
        display: flex;
        padding-bottom: 5%;
    }
    .conteinary-portfolio{
        padding: 5px;
    }
    .conteinary-portfolio .liens-portfolio{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 10vh;
    }
    .conteinary-portfolio .images-portfolio{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }
    .conteinary-portfolio .images-portfolio .block-image{
        text-align: center;
        width: 350px;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 5%;
    }
    .conteinary-portfolio .images-portfolio .block-image img{
        width: 100%;
        height: 100%;
    }
    /* la section resume */
    .section-resume{
        display: block;
        width: 100%;
    }
    .my-resume{
        display: flex;
        justify-content: center;
        margin: 15px;
    }
    .my-resume div{
      display: flex;
      font-size: 20px;
      font-weight: 700;
    }
    .conteinary-resume .conteny-resume{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2%;
    }
    .conteinary-resume .block-resume{
        font-weight: normal;
        width: 345px;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    
    /* section about me*/
    .section-abautme{
        display: block;
    }
    .conteinary-about{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .conteny-about{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       width: 100%;
       margin: 2%;
    }
    .conteny-about .img-about{
        width: 345px;
        height: 230px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 8px;
    }
    .img-about img{
        width: 345px;
        height: auto;
        vertical-align: middle;
    }
    .conteny-about .about-me{
        width: 345px;
        height: 250px;
        font-weight: 500;
        font-size: 12px;
        vertical-align: middle;
        color: rgba(240, 248, 255, 0.5);
        padding: 5px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .conteny-about .about-me h2{
        font-size: 25px;
        font-weight: 500;
        color: #fdfdfdcc;
        margin-top: 0;
        margin-bottom: 0;
    }
    /* section client-testimonial*/
    .section-testimonial{
        display: block;
    }
    .conteinary-testimonial{
        width: 100%;
    }
    .block-testimonial{
        width: 100%;
        height: auto;
        margin: 25px;
        margin-bottom: 5%;
    }
    .block-testimonial .image img{
        margin-left: 10px;
    }
    .block-testimonial .contenu-client{
        margin-left: 15px;
        margin-right: 10px;
    }
}